/* 
html{
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
} */

html{
  background-color: white;
  overflow: visible
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
/*Custom Styles Here*/



/*! purgecss start ignore */
@import "prism.css";
/*! purgecss end ignore */
