
#blob {
    background: linear-gradient(purple, aquamarine);
    opacity: 0.8;
    height: 400px;
    width: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotation 20s infinite linear;
    z-index: 100;
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
}

/* #blur {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(150px);
    z-index: -1
} */

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
  

